

.note{
    background-color: rgb(239, 248, 172);
    position: absolute;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note:hover{
    cursor:move;
}

h2:hover, p:hover{
    cursor: pointer;
}

h2, p{
    width: 140px;
}

input{
    width: 140px;
    height: fit-content;
}

h2{
    text-decoration: underline;
}

img{
    width: 20px;
    margin-top: 75px;
    margin-left: 150px;
}

img:hover{
    cursor: pointer;
}